/* Her er et stylesheet */

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')s
       
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Share+Tech|Strait|Vidaloka&display=swap');
/*  Index har en anden baggrundsbillede, så derfor har body forskellige tags. #Hjem = index.html, #friskfisk = friskfisk.html, #baggrund = resterende undersider */
#hjem {
    height: 100%; 
    position: relative;
    background-color: #E2F0FF;
    background-image: url(images/sea2.gif); 
    background-size: cover; 

}

#baggrund {
    position: relative;
    background-color: #E2F0FF;
    background-size: cover; 
    
}

#friskfisk {
    height: 100%; 
    position: relative;
    background-color: #E2F0FF;
    background-image: url(images/seahvid.png); 
    background-size: cover; 
    

}

header {
 height: 100px; 

 }

#logo {
    width: 180px; 
    padding: 0px;
    
}

/* navigation styles */

nav ul li a {
  color:  #91b4ca;
font-size: 15px; 
  text-transform: lowercase; 
  letter-spacing: .3em;
    text-decoration: none; 
     
    
}


nav {
    font-family: 'abril fatface', serif;
    display:flex;
    justify-content: space-between; 
    text-align: right; 

 
    
}

.nav-links {
    display: flex; 
    list-style-type: none;
     flex-direction: row; 
  
}

.nav-items {
    padding-right: 40px;
}

#social {
    height: 10%; 
    margin-right: 40px; 
}

/* tilføjer media rules for at gøre sitet responsiv til smartphone */

@media screen and (max-width: 500px) {
    .nav-links {
        display: block; 
        text-align: center; 
        padding-left: 0;
        
    }
    
    nav {
        display: block; 
        text-align: center; 
    }
    

    #hjem {
        width: 100%; 
        background-size: auto; 
        background-repeat: no-repeat; 
        
    }
    
    #sport {
        margin-top: 200px; 
    }
    
    #infographic {
        margin-top: 120px;
    }
    
    .cfisk_img {
        text-align: center; 
        margin-top: 180px;
    }
    
    #social {
        width: 10%; 
    }
    
    .container {
        margin-top: 200px; 
    }
    
    .artikel2 {
        column-count: 1; 
    }
}

 /* Tilføjer media rules for at gøre sitet responsivt til tablet */
@media screen and (max-width: 800px) {
    #hjem {
        background-repeat: no-repeat; 
        background-size: auto; 
        
    }


.nav-links {
        display: block; 
        text-align: center; 
        padding-left: 0;
        
    }
    
    nav {
        display: block; 
        text-align: center;
        
    }
    
    #social {
        width: 10%;
        
    }
    
    #hjem {
        width: 100%; 
        background-size: auto; 
        background-repeat: no-repeat; 
        
    }
    
    #sport {
        margin-top: 200px; 
    }
    
    #infographic {
        margin-top: 180px;
    }
    
    .cfisk_img {
        text-align: center; 
        margin-top: 180px;
    }
    
    #social {
        width: 10%; 
    }
    
    .container {
        margin-top: 200px; 
    }
    
    .artikel2 {
        column-count: 1; 
    }
    
    #logo {
        padding-bottom:0;
    }
    }
/* styling af footer */

footer {
  font-family: "baskerville", serif;
  background-color: #161E2D;
    color: #fff;
    bottom: 0;  
    width: 100%; 
    position: fixed;
  left: 0; 
    
}

.divfooter {
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    padding:0;
    margin-top:0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
}

#socialhvid {
    width: 5%; 
    padding:0;
    
}

.divsocial {
    text-align: right; 
    display:flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 10px; 
}

/* Her vises stylesheet for siden Badning */

#infographic {
    width: 80%;
     
}

#divinfo {
    text-align: center; 
}


/* Her ses style omkring siden Frisk Fisk */
    
.artikel2 {
    color: #161E2D; 
    font-family: 'baskerville', serif; 
    word-break: keep-all;
    max-width: 75%;
    column-count: 3; 
}
h1 {
    color: #161E2D;
    font-family: 'abril fatface', serif; 
    text-align: center;
    letter-spacing: 3px;
}

h2 {
    color: #161E2D;
    font-family: 'baskerville', serif;
    font-size: 20px;
}

#byline {
    color: #161E2D; 
    font-family: 'baskerville', serif;
    font-style: italic;
}

#jakob {
    width: 20%;
    height:  20%;
}

.artikel {
    display: flex; 
    justify-content: space-between;
}

.fisk_img {
    width: 33%; 
}
    

/* Her ses styles omkring siden Vandsport */

#sport {
    width: 100%;  
}

.vand {
    text-align: center; 
    
}

.aktiv {
    text-align:left;
    column-count: 3; 
    color: #DDF3FF;
    margin: 20px; 
    
}

#h1aktiv {
    color: #DDF3FF;
    text-align: center; 
    padding: 20px; 
    
}

.h2aktiv {
    color:  #DDF3FF;
}

.vand2 {
    background-color:  #83bed7;
}

/* Stylesheet for siden Om Mig */ 

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical /* tillader brugeren af gøre boksen større vertikalt, men ikke horisontalt, når de skriver */
}

/* Send knappen */
input[type=emne] {
  background-color: skyblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
    font-family: "basketville", serif; 
    color: #161E2D; 
}

/* Laver en mørkere farve når man holder musen over */
input[type=emne]:hover {
  background-color: #161E2D;
}

.container {
    font-family: "basketville", serif; 
    color: #fff; 
  border-radius: 5px;
  background-color: #91b4ca;
  padding: 20px;
}