/* Her er et stylesheet */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

#hjem {
    height: 100%; 
    position: relative;
    background-color: #E2F0FF;
    background-image: url(images/sea2.gif); 
    background-size: cover; 

}

#baggrund {
    position: relative;
    background-color: #E2F0FF;
    background-size: cover; 
    
}

#friskfisk {
    height: 100%; 
    position: relative;
    background-color: #E2F0FF;
    background-image: url(images/seahvid.png); 
    background-size: cover; 
    

}

header {
 height: 100px; 

 }

#logo {
    width: 180px; 
    padding: 0px;
    image-orientation: top left; 
}

/* nav styles */

nav ul li a {
  color:  #91b4ca;
font-size: 15px; 
  text-transform: lowercase; 
  letter-spacing: .3em;
    text-decoration: none; 
     
    
}


nav {
    font-family: 'abril fatface', serif;
    display:flex;
    text-align: right; 
    justify-content: space-between; 

 
    
}

.nav-links {
    display: flex; 
    list-style-type: none;
     flex-direction: row; 
  
    
}

.nav-items {
    padding-right: 40px;
}

#social {
    height: 10%; 
    margin-right: 0px; 
}


main {
    
    
}


footer {
  font-family: "baskerville", serif;
  background-color: #161E2D;
    color: #fff;
    bottom: 0;  
    width: 100%; 
    position: fixed;
  left: 0; 
    
}

.divfooter {
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    padding:0;
    margin-top:0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
}

#socialhvid {
    width: 5%; 
    padding:0;
    
}

.divsocial {
    text-align: right; 
    display:flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 10px; 
}

/* Her vises stylesheet for siden Badning */

#infographic {
    width: 80%;
     
}

#divinfo {
    text-align: center; 
}


/* Her ses style omkring siden Frisk Fisk */
    
.artikel2 {
    color: #161E2D; 
    font-family: 'baskerville', serif; 
    word-break: keep-all;
    max-width: 75%;
    column-count: 3; 
}
h1 {
    color: #161E2D;
    font-family: 'abril fatface', serif; 
    text-align: center;
    letter-spacing: 3px;
}

h2 {
    color: #161E2D;
    font-family: 'baskerville', serif;
    font-size: 20px;
}

#byline {
    color: #161E2D; 
    font-family: 'baskerville', serif;
    font-style: italic;
}

#jakob {
    width: 20%;
    height:  20%;
}

.artikel {
    display: flex; 
    justify-content: space-between;
}

.fisk_img
{
    width: 33%; 
}

/* Her ses styles omkring siden Vandsport */

#sport {
    width: 100%;  
}

.vand {
    text-align: center; 
    
}

.aktiv {
    text-align:left;
    column-count: 3; 
    color: #DDF3FF;
    margin: 20px; 
    
}

#h1aktiv {
    color: #DDF3FF;
    text-align: center; 
    padding: 20px; 
    
}

.h2aktiv {
    color:  #DDF3FF;
}

.vand2 {
    background-color:  #83bed7;
}

/* Stylesheet for siden Om Mig */ 

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Send knappen */
input[type=emne] {
  background-color: skyblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
    font-family: "basketville", serif; 
    color: #161E2D; 
}

/* Laver en mørkere farve når man holder musen over */
input[type=emne]:hover {
  background-color: #161E2D;
}

/* Add a background color and some padding around the form */
.container {
    font-family: "basketville", serif; 
    color: 
  border-radius: 5px;
  background-color: #91b4ca;
  padding: 20px;
}